body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.top_container {
    background-color: #448fc4;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #448fc4;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: sticky;
    top:0;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.subjects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.subject-box {
    background-color: #eaeaea;
    padding: 20px;
    margin: 10px;
    flex: 1;
    max-width: 30%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.subject-box a {
    text-decoration: none;
    color: #333333;
}

.subject-box:hover {
    background-color: #81c1f0;
    box-shadow: 0 6px 12px rgba(22, 121, 179, 0.2);
}

.subject-box h3 {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #448fc4;
    color: #fff;
}

a {
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .subject-box {
        max-width: 45%;
    }
}

@media (max-width: 480px) {
    .subject-box {
        max-width: 100%;
    }
}
